.App {
  text-align: center;
}
body{
 background-color: #222629;  
 
margin: 5px;
}
.navbar-movie{
  display: flex;
  flex-flow: row wrap;
justify-content: space-between;
margin-top: 25px;
}
.navbar-movie-link{

  padding-left: 10px;

}
.title-navbar{ color:  hsl(336, 91%, 31%);}
.navbar-style{


  color: black;
padding-left: 18px;
font-size: 50px;
font-weight: 700;
border-radius: 15px;

}
.navbar-style-search{


  border-radius: 15px;
  color: cornsilk;
}
/* ----------------------------------------------barre recherche--------------------------------------------- */
.search-style{
  font-size: 22px;
  width: 250px;
  padding:5px 5px ;

  border: none;
  border-radius: 15px;  
  color: #171638; 
  margin-left: 2px;
  margin-bottom: 15px;
  outline: none;

  }


  .box-search-name:hover{
  box-shadow: #ec0250 0 0 10px ;
  }
  .box-search-name{
    border-radius: 15px;  
background-color: white;
    color:  #171638 ;
    padding-left: 8px;
    margin-bottom: 15px;
    display: flex;

  }
  .search-style-rate {
    padding:5px  ;
    color:grey;

    margin-right: 15px;
  border-radius:15px ;

  }
  .search-style-rate:hover{
    box-shadow: #ec0250 0 0 10px ;
    }
    .initial-star-recherche{
   color: yellow;
    }
    .box-search-type{
      display: flex;
  flex-flow: row wrap;
justify-content: space-between;
margin-top: 25px;

    }

    .star-color-search{
    color: gray;
    }
/* ------------------------------------------------add------------------------------------------------------------ */
.button-add-film{
  margin-top: 30px;
border-radius:50px ;
background-color: #4E4E50 ;
height: 50px;
width: 50px;
border: none;
outline: none;
}
/* ------------------------------------------------list cards------------------------------------------------------ */
.container-box {
  display: flex;
  flex-flow: row wrap;
justify-content: space-evenly;
margin-top: 15px;
width: 100%;

}
.box{

 color: thistle;
 background-color:grey ;
  width: 280px;

   border-radius: 10px;
    margin-bottom: 20px; 
   padding: 10px 0px; 
   margin: 25px;
 }

.box:hover{
  box-shadow: #ec0250 0 0 10px ;
 }
.button-des{
  border-radius: 15px;
  margin-top: 5px;
color:  hsl(336, 91%, 31%);
  margin-left: 5px;
  background-color:transparent; 

}
.button-des2{
 color: #970741;
  border-radius: 15px;
 height: 30px;
 background-color: transparent;


}
.image-containre-box{
  height: 250px; 

}

/* -----------------------------------------modal------------------------------ */
.modalAddMovieCard{
background-color: rgb(12, 8, 2);
color:whitesmoke;
border-radius:15px ;
border: 2px solid white;
}
.btnModalCheck{
border-radius:50% ;
}
.btnModaldanger{
  border-radius:50% ;
}
.btnModalBox{
  display: flex;
  justify-content: space-evenly;
}


.box-favoris{

  color:white;
  background-attachment: fixed;
  background-size: 100% 100%; 
  height: 100vh;
background-repeat: no-repeat;
}


.favoris-title{
  font-size: 50px;
text-align: center;
}

/********************************** view *************************************************/
.title-description{
  font-size: 50px;
  text-align: center;
  color: bisque;
}

.description{
  font-size: 0.5em;
}

.description-box{

  color: aliceblue;
  background-attachment: fixed;
  background-size: 100% 100%; 

background-repeat: no-repeat;



}
.image-desrip{
  width: 30%;
  height: 30%;
  border-radius:20% 0px ;

  margin-right: 35px;
  padding: 25px;
}
.box-des{
  display: flex;
  justify-content: space-evenly;

}
.description-p{
text-align: center;
}

/* sign in */


.auth-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

.auth-inner {
  width: 450px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
}

.auth-wrapper .form-control:focus {
  border-color: #6F2232;
  box-shadow: none;
}

.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

.custom-control-label {
  font-weight: 400;
}

.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}

.forgot-password a {
  color: #167bff;
}
.box-sigg-in{
  display: flex;
  flex-flow: row wrap;
justify-content: space-around;

color:whitesmoke;




}
.modal-body{
  background-color: rgb(12, 8, 2);


  
}
/* spinner */
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #970741;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  margin-top: 350px;

}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}